<h1>Word Guess Game</h1>

<p>
<%= @question %>
</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@word) do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "OK", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>