<h1>Word Guess Game</h1>
<p>
<%= @scoreMessage %>    
</p>
<p>
<%= @hint %>  
</p>

<p>
<%= @message %>  
</p>
<p>
<%= @answer %>  
</p>
<p>
<%= @myScore %>  
</p>
<p>
<%= @question %>  
</p>

<% if @quit %>
  <p>
    You have left the game!!!!
  </p>
<% else %>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@word) do |f| %>
      <%= f.text_field :name %>
      <%= f.submit @action1, class: "btn btn-primary" %>
      <% if @action2 %>
        <%= f.submit @action2, class: "btn btn-primary" %>
      <% end %>
      <% if @action3 %>
        <%= f.submit @action3, class: "btn btn-primary" %>
      <% end %>
      <% if @action4 %>
        <%= f.submit @action4, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
<% end %>

